<header class="navbar">
    <a href ="Puppy_Racer_Logo.pdf" class="logo">
        <img src="@/assets/Puppy_Racer_Logo.pdf" alt="PuppyRacer">
    </a>

    <nav>
        <ul>
            <li><a href="#">main page</a></li>
            <li><a href="#">doggy profiles</a></li>
            <li><a href="#">animal shelters</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <img src="@/assets/Puppy_Racer_Logo.pdf" alt="Background Image" class="hero-image">
    <div class="hero-overlay"></div>

    <div class="hero-text">
        <h1 class="custom-aligned">Welcome to <strong><em>PuppyRacer!</em></strong></h1>

        <h2 class="custom-aligned">The website that finds every breed
            you’re looking for!</h2>

        <h3 class="get-Started">Get Started</h3>
        <form class="hero-search" @submit.prevent>
            <input
                    type="text"
                    placeholder="Search for a breed…"
                    name="breed"
                    v-model="searchBreed"
            />
        </form>
    </div>

    <div class="login-card outline-pink">
        <div class="stack">
            <p class="pretitle italic">New here? Register with us!</p>
            <button class="btn btn-pink" @click="register">Register</button>
        </div>
        <div class="stack">
            <p class="pretitle italic">Already a proud member?</p>
            <button class="btn btn-outline-pink" @click="signIn">Sign In</button>
        </div>
    </div>

</section>

<section class="dog-carousel">
    <div class="dog-profiles">
        <div class="dog-card" v-for="dog in dogs" :key="dog.id">
            <img :src="dog.image" :alt="dog.name">
            <h6 class="dog-name">{{ dog.name }}</h6>
        </div>
    </div>
</section>

<div class="gander-Dogs">
    <h1>Take a gander at our Dog Profiles and find your Match!</h1>
</div>

<section class="tierheim">
    <div class="image-side"></div>
    <div class="text-side">
        <h1>Want to adopt?</h1>
        <h3 class="tierheim_text">
            Two thirds of every animal
            shelter in Germany are
            permanently filled to the brim...
            <br>
            <br>
            You can help us and we can help
            you find a suitable animal shelter
            to adopt your per fect companion.
            Even if you don’t find the dog you
            are looking for, maybe another
            pet will catch your eye!
        </h3>
        <button class="btn btn-outline-pink resized" @click="goToShelters">Animal Shelters this way -></button>
    </div>
</section>

<section class="identify">
    <div class="text-side">
        <h1>Not sure what you are looking for in your brand new Companion?</h1>
        <h3>Don’t sweat it, dogs certainly won’t! (Partly because they pant instead of sweat)
            <br>
            <br>
            Just put in a few characteristics like:
        </h3>
        <ul class="text-list">
            <li>Allergyfriendly</li>
            <li>Familyfriendly</li>
            <li>Energetic or lazy</li>
            <li>Big or small</li>
            <li>and more!</li>
        </ul>
    </div>

    <div class="image-side">
        <div class="id-search">
            <input type="text" placeholder="Enter Characteristics..." v-model="characteristics" />
        </div>
        <img src="@/assets/Puppy_Racer_Logo.pdf" alt="logo" class="corner-logo" />
    </div>

</section>

<footer>
    <a href="#">&copy; 2025 MySite. All rights reserved.</a>
    <a href="#social">Social Media</a>
    <a href="#impressum">Impressum</a>
    <a href="#newsletter">Newsletter</a>
    <a href="#top">Back to the top</a>
</footer>
